<div mat-ripple (click)="editarProducto(producto)" class="producto">
  <div class="producto-detalles d-flex flex-row align-items-center">
    <div
      class="producto-img d-flex align-items-center justify-content-center border"
    >
      <!-- <mat-icon>person</mat-icon> -->
      <img *ngIf="producto.img !== ''" [src]="producto.img" />
      <img *ngIf="producto.img === ''" src="assets/img/no-image.png" />
    </div>
    <div class="d-flex flex-column">
      <div class="descripcion">
        {{ producto.nombre }}
      </div>
      <div
        class="stock"
        [ngClass]="{
          'stock-ok': producto.stock >= 10,
          'stock-warn': producto.stock < 10,
          'stock-danger': producto.stock <= 3
        }"
      >
        Stock: {{ producto.stock | number }}
      </div>
    </div>
  </div>
</div>
