<div class="page-content page-alt">
  <div class="page-header header-alt shadow">
    <h1>Productos</h1>
    <button (click)="nuevoProducto()" mat-flat-button color="primary">
      + Producto
    </button>
    <!-- <app-profile-button></app-profile-button> -->
  </div>
  <!-- BOTÓN CREAR NUEVO PRODUCTO DE VENTA -->
  <!-- <div class="boton-macro d-flex flex-row align-items-center shadow">
    <div class="boton-items me-3">
      <div class="boton-titulo">Agregar nuevo producto</div>
      <p class="boton-desc">
        Puedes agregar un nuevo producto, este se mostrará automáticamente en
        las listas de venta.
      </p>
    </div>
    <button (click)="nuevoProducto()" mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div> -->

  <div class="p-4 fadeInUp">
    <div
      *ngIf="productosLista.length === 0; else productos"
      class="d-flex align-items-center justify-content-center text-muted p-4"
    >
      No tienes productos creados
    </div>
    <ng-template #productos>
      <app-lista-producto
        *ngFor="let prod of productosLista"
        [producto]="prod"
        (editarProducto$)="editarProducto($event)"
      ></app-lista-producto>
    </ng-template>
  </div>
</div>
