<div class="inicio-container">
  <div class="inicio-img">
    <div class="img"></div>
  </div>
  <h1 class="inicio-titulo">VentApp</h1>
  <div class="ingreso fadeInUp">
    <h2 class="mb-2">Bienvenido</h2>
    <p>
      Esta aplicación te ayudará a controlar las ventas que realices en tu PYME,
      podrás crear clientes, productos y ver estadísticas interesantes.
    </p>
    <div class="ingreso-actions">
      <button mat-flat-button class="login" routerLink="/login" color="primary">
        Iniciar sesión
      </button>
      <button mat-button class="registro" routerLink="/registro">
        Registrarme
      </button>
    </div>
  </div>
</div>
