<form [formGroup]="formVenta" (ngSubmit)="guardarVenta()">
  <h2 mat-dialog-title *ngIf="!data">Registrar nueva venta</h2>
  <h2 mat-dialog-title *ngIf="data">Editar venta</h2>

  <!-- BOTONES DE ACCIÓN /////// -->
  <div *ngIf="data" class="dialog-actions">
    <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="above">
      <button (click)="eliminarVenta(data)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>
  </div>

  <mat-dialog-content>
    <div
      *ngIf="hora >= horaRecargoNoctInicio || hora < horaRecargoNoctFin"
      class="venta-nocturna"
    >
      Venta nocturna
    </div>
    <!-- ****************** SELECCIÓN DE PRODUCTO ****************** -->
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>Producto</mat-label>
      <mat-select
        (selectionChange)="[obtenerValorProducto(), obtenerStock()]"
        formControlName="producto"
        name="producto"
      >
        <mat-option
          *ngFor="let prod of productos"
          [value]="prod.nombre"
          [disabled]="prod.stock <= 0"
        >
          {{ prod.nombre }} <small *ngIf="prod.stock <= 0"> - Sin stock</small>
        </mat-option>
        <mat-option *ngIf="productos.length <= 0" disabled
          >Debes crear un producto</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>sports_bar</mat-icon>
      <mat-hint *ngIf="fv.producto">
        Precio: {{ fv.precio + fv.recargoNocturno | currency }}, Stock:
        {{ stockProducto }}
      </mat-hint>
      <mat-error>Debes seleccionar un producto</mat-error>
    </mat-form-field>

    <!-- ****************** SELECCIÓN DE CANTIDAD ****************** -->
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="cliente" name="cliente">
        <mat-option *ngFor="let cliente of clientes" [value]="cliente.nombre">
          {{ cliente.nombre }}
        </mat-option>
        <mat-option *ngIf="clientes.length <= 0" disabled
          >Debes crear un cliente</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>Debes seleccionar un cliente</mat-error>
    </mat-form-field>

    <!-- ****************** SELECCIÓN DE CANTIDAD ****************** -->
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input
        type="number"
        formControlName="cantidad"
        name="cantidad"
        matInput
      />
      <mat-error>Debes indicar la cantidad</mat-error>
    </mat-form-field>

    <!-- ****************** INDICADOR DE PAGO ****************** -->
    <mat-slide-toggle class="mb-3" formControlName="paga" name="paga">
      Paga: {{ fv.paga ? "Si" : "No" }}
    </mat-slide-toggle>

    <div class="text-muted mb-3">
      <ng-container *ngIf="!data">
        Fecha: {{ fv.fecha | date: "d/M/yy, h:mm a" }}
      </ng-container>
      <ng-container *ngIf="data">
        Fecha: {{ data.fecha.toDate() | date: "d/M/yy, h:mm a" }}
      </ng-container>
    </div>
    <h3 *ngIf="fv.cantidad && stockProducto >= fv.cantidad">
      Total: {{ (fv.precio + fv.recargoNocturno) * fv.cantidad | number }}
    </h3>
    <h6 *ngIf="stockProducto < fv.cantidad && !data" class="text-danger mt-3">
      Sólo hay {{ stockProducto }} {{ fv.producto }} en stock!
    </h6>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="formVenta.invalid || (!data && stockProducto < fv.cantidad)"
    >
      Guardar
    </button>
  </mat-dialog-actions>
</form>
