.venta {
  border-bottom: 1px solid #e5e3ed;
  padding: 10px 20px;
}

.venta .venta-icono {
  height: 58px;
  width: 58px;
  min-width: 58px;
  background-color: #10e7d926;
  color: #08c0d8;
  margin-right: 8px;
  border-radius: 10px;
}
.venta .venta-icono .mat-icon {
  transform: scale(1.5);
}

/*
calcula el ancho teniendo en cuenta el icono
y el valor del total (con margenes)
*/
.venta .venta-detalles .descripcion {
  max-width: calc(100% - (66px + 105px));
  color: #1c0e5e;
  font-weight: 700;
  margin-right: 5px;
}

.venta .venta-detalles .descripcion p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.venta .venta-detalles .fecha {
  color: #adacb1;
  font-weight: 600;
  font-size: 0.72rem;
}

.venta .venta-total {
  text-align: right;
  margin-left: auto;
  color: #1c0e5e;
  font-size: 1.5rem;
  min-width: 100px;
}

.venta .venta-acciones {
  margin-left: auto;
}
