<div mat-ripple (click)="editarVenta(venta)" class="card card-body venta">
  <div class="venta-detalles d-flex flex-row align-items-center">
    <div class="venta-icono d-flex align-items-center justify-content-center">
      <mat-icon color="primary">person</mat-icon>
    </div>
    <div class="descripcion d-flex flex-column">
      <p>{{ venta.cliente }}, {{ venta.cantidad }} {{ venta.producto }}</p>
      <div class="sub-text text-muted">
        {{ venta.fecha | date: "d/M/yy, h:mm a" }}
      </div>
    </div>
    <div class="venta-total d-flex flex-column">
      <span>$ {{ venta.totalVenta | number }}</span>
      <div class="sub-text">
        <span *ngIf="venta.paga" class="text-success">Pagado</span>
        <span *ngIf="!venta.paga" class="text-danger">Debe</span>
      </div>
    </div>
  </div>
</div>
