<div class="venta">
  <div class="venta-detalles d-flex flex-row align-items-center">
    <div class="venta-icono d-flex align-items-center justify-content-center">
      <mat-icon>person</mat-icon>
    </div>
    <div class="descripcion d-flex flex-column">
      <p>{{ venta.cliente }}, {{ venta.cantidad }} {{ venta.producto }}</p>
      <div class="fecha">{{ venta.fecha | date: "d/M/yy, h:mm a" }}</div>
    </div>
    <div class="venta-total">
      $ {{ venta.precio * venta.cantidad | number }}
    </div>
  </div>
  <div class="d-flex flex-row align-items-center mt-2">
    <mat-chip-list>
      <mat-chip *ngIf="venta.paga">Pagado</mat-chip>
      <mat-chip *ngIf="!venta.paga" color="accent" selected>Debe</mat-chip>
    </mat-chip-list>
    <div class="venta-acciones">
      <button (click)="editarVenta(venta)" mat-stroked-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="eliminarVenta(venta)"
        class="ms-2"
        mat-stroked-button
        color="warn"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
