<section class="tabs-ventas">
  <div class="contenedor">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="pagadas-tab"
          data-bs-toggle="pill"
          href="#pagadas"
          role="tab"
          aria-controls="pagadas"
          aria-selected="false"
        >
          <div class="icon d-flex align-items-center justify-content-center">
            <mat-icon>check_circle_outline</mat-icon>
          </div>
          <span>Pagadas</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="deudores-tab"
          data-bs-toggle="pill"
          href="#deudores"
          role="tab"
          aria-controls="deudores"
          aria-selected="false"
        >
          <div class="icon d-flex align-items-center justify-content-center">
            <mat-icon>pending_actions</mat-icon>
          </div>
          <span>Sin pagar</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ventas-tab"
          data-bs-toggle="pill"
          href="#ventas"
          role="tab"
          aria-controls="ventas"
          aria-selected="true"
        >
          <div class="icon d-flex align-items-center justify-content-center">
            <mat-icon>list</mat-icon>
          </div>
          <span>Todas</span>
        </a>
      </li>
    </ul>
  </div>
</section>
<div class="tab-content" id="pills-tabContent">
  <!-- PANEL LISTA PAGADAS ************************************************************** -->
  <div
    class="tab-pane fade show active"
    id="pagadas"
    role="tabpanel"
    aria-labelledby="pagadas-tab"
  >
    <!-- TOTAL DE LISTADO ////////////////////////////////// -->
    <div
      class="total-listado d-flex flex-column align-items-center justify-content-center"
    >
      <div class="total">$ {{ sumarVentas(listaVentasPagaron) | number }}</div>
      <div class="sub-text">Venta total</div>
    </div>

    <!-- FILTRO POR CLIENTE ///////////////////////////////// -->
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>Filtrar por cliente</mat-label>
      <mat-select
        [value]="'Sin filtro'"
        (selectionChange)="filtrarPorCliente('Pagadas', $event.value)"
      >
        <mat-option
          *ngFor="let cliente of listaClientes"
          [value]="cliente.nombre"
        >
          {{ cliente.nombre }}
        </mat-option>
        <mat-option value="Sin filtro">Sin filtro</mat-option>
      </mat-select>
      <mat-icon matSuffix>filter_alt</mat-icon>
    </mat-form-field>

    <!-- LISTADO ////////////////////////////////////////// -->
    <ng-container *ngIf="listaVentasPagaron.length > 0; else noVentasPagadas">
      <app-lista-venta
        *ngFor="let venta of listaVentasPagaron"
        [venta]="venta"
        (eliminarVenta$)="eliminarVenta($event)"
        (editarVenta$)="editarVenta($event)"
      ></app-lista-venta>
    </ng-container>
    <ng-template #noVentasPagadas>
      <div class="p4 text-center">No tienes ventas</div>
    </ng-template>
  </div>

  <!-- PANEL LISTA SIN PAGAR ************************************************************** -->
  <div
    class="tab-pane fade"
    id="deudores"
    role="tabpanel"
    aria-labelledby="deudores-tab"
  >
    <!-- TOTAL DE LISTADO ////////////////////////////////// -->
    <div
      class="total-listado d-flex flex-column align-items-center justify-content-center"
    >
      <div class="total">$ {{ sumarVentas(listaVentasDeben) | number }}</div>
      <div class="sub-text">Deuda total</div>
    </div>

    <!-- FILTRO POR CLIENTE ///////////////////////////////// -->
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>Filtrar por cliente</mat-label>
      <mat-select
        [value]="'Sin filtro'"
        (selectionChange)="filtrarPorCliente('Sin pagar', $event.value)"
      >
        <mat-option
          *ngFor="let cliente of listaClientes"
          [value]="cliente.nombre"
        >
          {{ cliente.nombre }}
        </mat-option>
        <mat-option value="Sin filtro">Sin filtro</mat-option>
      </mat-select>
      <mat-icon matSuffix>filter_alt</mat-icon>
    </mat-form-field>

    <!-- LISTADO ////////////////////////////////////////// -->
    <ng-container *ngIf="listaVentasDeben.length > 0; else noVentasDeben">
      <app-lista-venta
        *ngFor="let venta of listaVentasDeben"
        [venta]="venta"
        (eliminarVenta$)="eliminarVenta($event)"
        (editarVenta$)="editarVenta($event)"
      ></app-lista-venta>
    </ng-container>
    <ng-template #noVentasDeben>
      <div class="p4 text-center">No tienes ventas</div>
    </ng-template>
  </div>

  <!-- PANEL LISTA TODAS LAS VENTAS ************************************************************** -->
  <div
    class="tab-pane fade"
    id="ventas"
    role="tabpanel"
    aria-labelledby="ventas-tab"
  >
    <!-- TOTAL DE LISTADO ////////////////////////////////// -->
    <div
      class="total-listado d-flex flex-column align-items-center justify-content-center"
    >
      <div class="total">$ {{ sumarVentas(listaTodos) | number }}</div>
      <div class="sub-text">Venta total</div>
    </div>

    <!-- FILTRO POR CLIENTE ///////////////////////////////// -->
    <mat-form-field class="w-100 mb-2" appearance="outline">
      <mat-label>Filtrar por cliente</mat-label>
      <mat-select
        [value]="'Sin filtro'"
        (selectionChange)="filtrarPorCliente('Todas', $event.value)"
      >
        <mat-option
          *ngFor="let cliente of listaClientes"
          [value]="cliente.nombre"
        >
          {{ cliente.nombre }}
        </mat-option>
        <mat-option value="Sin filtro">Sin filtro</mat-option>
      </mat-select>
      <mat-icon matSuffix>filter_alt</mat-icon>
    </mat-form-field>

    <!-- LISTADO ////////////////////////////////////////// -->
    <ng-container *ngIf="listaTodos.length > 0; else noVentasTotal">
      <app-lista-venta
        *ngFor="let venta of listaTodos"
        [venta]="venta"
        (eliminarVenta$)="eliminarVenta($event)"
        (editarVenta$)="editarVenta($event)"
      ></app-lista-venta>
    </ng-container>
    <ng-template #noVentasTotal>
      <div class="p4 text-center">No tienes ventas</div>
    </ng-template>
  </div>
</div>
