<div class="pages-container">
  <router-outlet></router-outlet>
</div>

<nav class="navegacion">
  <ul class="d-flex flex-row align-items-center justify-content-between">
    <li class="opcion-item">
      <a
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="'hsla(259, 100%, 56%, 0.15)'"
        routerLink="inicio"
        routerLinkActive="active"
      >
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="opcion-item">
      <a
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="'hsla(259, 100%, 56%, 0.15)'"
        routerLink="ventas"
        routerLinkActive="active"
      >
        <mat-icon>monetization_on</mat-icon>
      </a>
    </li>
    <li class="opcion-item">
      <a
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="'hsla(259, 100%, 56%, 0.15)'"
        routerLink="inventario"
        routerLinkActive="active"
      >
        <mat-icon>shopping_basket</mat-icon>
      </a>
    </li>
    <li class="opcion-item">
      <a
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="'hsla(259, 100%, 56%, 0.15)'"
        routerLink="clientes"
        routerLinkActive="active"
      >
        <mat-icon>emoji_people</mat-icon>
      </a>
    </li>
    <li class="opcion-item">
      <a
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="'hsla(259, 100%, 56%, 0.15)'"
        routerLink="ajustes"
        routerLinkActive="active"
      >
        <mat-icon>settings</mat-icon>
      </a>
    </li>
  </ul>
</nav>
