<div class="page-content">
  <div class="page-header">
    <div class="titulo">
      <h1>Inicio</h1>
      <small>Buen día, {{ nombreUsuario }}! </small>
    </div>
    <app-profile-button></app-profile-button>
  </div>
  <!-- BOTÓN CREAR NUEVO REGISTRO DE VENTA -->
  <div class="boton-macro d-flex flex-row align-items-center shadow">
    <div class="boton-items me-3">
      <div class="boton-titulo">Agregar nueva venta</div>
      <p class="boton-desc">
        Puedes agregar un nuevo registro de venta, este se almacenará en tus
        ventas y podrás consultar sus detalles.
      </p>
    </div>
    <button (click)="nuevaVenta()" mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- CONTADORES GENERALES -->
  <div class="d-flex flex-row justify-content-center mb-3">
    <app-contador
      [color]="'#4AC3B5'"
      [numero]="listaVentas.length"
      [descripcion]="'Ventas'"
    ></app-contador>
    <app-contador
      [color]="'#1aabff'"
      [numero]="clientesNumero"
      [descripcion]="'Clientes'"
    ></app-contador>
  </div>

  <div class="secciones fadeInUp">
    <!-- SECCIÓN ULTIMAS VENTAS ////////////////////////////////////// -->
    <section class="seccion d-flex flex-row justify-content-between">
      Últimas ventas
      <a [routerLink]="['/ventas']" class="text-muted">Ver más</a>
    </section>

    <div
      *ngIf="listaVentas.length === 0; else ventas"
      class="d-flex align-items-center justify-content-center text-muted p-4"
    >
      No tienes ventas
    </div>
    <ng-template #ventas>
      <app-lista-venta
        *ngFor="let venta of ultimasVentas"
        [venta]="venta"
        (editarVenta$)="editarVenta($event)"
      ></app-lista-venta>
    </ng-template>

    <!-- SECCIÓN GRAFICAS ////////////////////////////////////// -->
    <section
      *ngIf="listaVentas.length > 0"
      class="seccion d-flex flex-row justify-content-between"
    >
      Ventas por mes
    </section>
    <app-chart-bar
      *ngIf="listaVentas.length > 0"
      [tipoGrafica]="'Ventas'"
      [dataSeries]="listaVentas"
      [nombreSeries]="'Ventas'"
    ></app-chart-bar>

    <section
      *ngIf="listaVentas.length > 0"
      class="seccion d-flex flex-row justify-content-between"
    >
      Utilidades por mes
    </section>
    <app-chart-bar
      *ngIf="listaVentas.length > 0"
      [tipoGrafica]="'Utilidades'"
      [dataSeries]="listaVentas"
      [nombreSeries]="'Utilidad'"
      [color]="['#3bbf5b']"
    ></app-chart-bar>

    <section
      *ngIf="listaVentas.length > 0"
      class="seccion d-flex flex-row justify-content-between"
    >
      Productos más vendidos
    </section>
    <app-chart-donut
      *ngIf="listaVentas.length > 0"
      [data]="listaVentas"
    ></app-chart-donut>
  </div>
</div>
