<form [formGroup]="formCliente" (ngSubmit)="guardarCliente()">
  <h2 mat-dialog-title>Nuevo cliente</h2>
  <div *ngIf="data" class="dialog-actions">
    <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="above">
      <button (click)="eliminarCliente(data)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>
  </div>
  <mat-dialog-content>
    <!-- ****************** ESTABLECER PRODUCTO ****************** -->
    <mat-form-field class="w-100 mb-1" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" formControlName="nombre" name="nombre" matInput />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>Debes escribir un nombre</mat-error>
    </mat-form-field>

    <!-- ****************** ESTABLECER PRECIO VENTA ****************** -->
    <mat-form-field class="w-100 mb-1" appearance="outline">
      <mat-label>Anotación</mat-label>
      <input
        type="text"
        formControlName="anotacion"
        name="anotacion"
        matInput
      />
      <mat-hint>Es opcional</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-flat-button type="submit" color="primary">Guardar</button>
  </mat-dialog-actions>
</form>
