// Bootstrap config
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/transitions";

// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --color-titulo: #17268c;
  --color-texto: #202020;
  --color-primary: hsl(259, 100%, 56%);
  --color-primary-background: hsla(259, 100%, 56%, 0.15);
  --color-accent: #e91e63;
  --color-warn: #f44336;
  --fondo-gris: #eae8fe;
}

// HTML STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato", "Roboto", "Helvetica Neue", sans-serif;
  // background-color: #f9f8ff;
  color: var(--color-texto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--color-titulo);
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700; // Bold
  font-size: 2.5rem;
}

// FIN HTML STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

// ESTRUCTURE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

.pages-container {
  height: 100%;
  padding-bottom: calc(64px + 1rem);
  overflow-y: scroll;
}

.page-header {
  background-color: var(--fondo-gris);
  padding: 1.2rem;
}

.header-big {
  padding: 1.2rem 1.2rem 6rem;
  border-radius: 0 0 3rem 3rem;
}

.wrapper {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.seccion {
  height: 64px;
  line-height: 64px;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  color: var(--color-texto);
  font-weight: 600;
}

.seccion a {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.7;
}

.w-100 {
  width: 100%;
}

.navegacion {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 500;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 72px;
  box-shadow: 0px -1px 20px 5px rgba(0, 0, 0, 0.1);
}

.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
}

.navegacion .opcion-item a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  text-decoration: none;
  color: #dcd8e0;
  // border: 0.5px solid green;
}
.navegacion .opcion-item a > .mat-icon {
  transform: scale(1.5);
}

.navegacion .opcion-item a.active {
  color: var(--color-primary);
}
.navegacion .opcion-item a.active > .mat-icon {
  margin-top: -5px;
}
.navegacion .opcion-item a.active .mat-icon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 4px;
  height: 4px;
  background-color: var(--color-primary);
  z-index: 600;
  border-radius: 50%;
}

.boton-macro {
  background-color: #f9f8fc;
  border-radius: 2rem;
  color: var(--color-texto);
  padding: 1rem 1.2rem;
  margin: -4.5rem 1rem 1rem;
}

.boton-macro .boton-titulo {
  font-size: 1.2rem;
  font-weight: 700;
}

.boton-macro .boton-desc {
  font-size: 0.8rem;
}

.boton-macro button.mat-flat-button {
  height: 64px;
  width: 64px;
  border-radius: 20px;
  background-color: var(--fondo-gris);
  color: var(--color-primary);
}

.boton-macro button.mat-flat-button .mat-icon {
  transform: scale(1.3);
}

/*
  COMPONENTE CONTADOR
*/
.contador {
  /* border: 1px solid red; */
  margin: 0 1rem;
}

.contador .contador-estado {
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.contador .contador-numero {
  font-size: 1.6rem;
  margin-top: -5px;
  margin-left: 3px;
}

.contador-desc {
  margin-top: -8px;
  font-size: 1rem;
  color: #9c99a8;
}

/*
  COMPONENTE LISTA CLIENTE
*/
.cliente,
.producto,
.venta {
  border-radius: 1rem;
  padding: 1rem 0.8rem;
  margin-bottom: 1.1rem;
  box-shadow: 0 8px 15px 5px #eee;
}

.cliente .cliente-img,
.producto .producto-img,
.venta .venta-icono {
  height: 56px;
  width: 56px;
  min-width: 56px;
  background-color: var(--color-primary-background);
  color: var(--color-primary);
  margin-right: 0.8rem;
  border-radius: 50%;
}

.cliente .cliente-icono .mat-icon,
.venta .venta-icono .mat-icon {
  transform: scale(1.25);
}

.cliente .cliente-detalles .descripcion,
.producto .producto-detalles .descripcion,
.venta .venta-detalles .descripcion {
  color: #333333;
  font-weight: 700;
  margin-right: 5px;
  font-size: 1.1rem;
}

.cliente .cliente-detalles .sub-text,
.venta .venta-detalles .sub-text {
  font-weight: 600;
  font-size: 0.9rem;
}

.cliente .cliente-total {
  margin-left: auto;
  color: #1c0e5e;
  font-size: 24px;
}

.cliente .cliente-acciones {
  margin-left: auto;
}

/*
  COMPONENTE LISTA PRODUCTO
*/
.producto .producto-img {
  background-color: #fff;
  overflow: hidden;
}

.producto .producto-img img {
  height: 48px;
  width: 48px;
}

.producto .producto-detalles .stock {
  /* color: #adacb1; */
  font-weight: 600;
  font-size: 0.92rem;
  padding: 0 0.5rem;
  border-radius: 10px;
}

.stock-ok {
  color: #4524a8;
  background-color: hsla(255, 65%, 40%, 0.1);
}
.stock-warn {
  color: #cc800c;
  background-color: hsla(36, 89%, 42%, 0.1);
}
.stock-danger {
  color: #ff4d35;
  background-color: hsla(7, 100%, 60%, 0.1);
}

/*
  COMPONENTE LISTA VENTA
*/
.venta .venta-detalles .descripcion {
  /* calcula el ancho teniendo en cuenta el icono
  y el valor del total (con margenes) */
  max-width: calc(100% - (66px + 105px));
}

.venta .venta-detalles .descripcion p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.venta .venta-detalles .sub-text {
  font-size: 0.72rem;
}

.venta .venta-total {
  text-align: right;
  margin-left: auto;
  color: #4454c3;
  font-size: 1.25rem;
  min-width: 100px;
  /* font-weight: 600; */
}

.venta .venta-total .sub-text {
  margin-top: -3px;
  font-size: 0.9rem;
}

/*
  COMPONENTE TAB VENTAS
*/
.tabs-ventas {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 600;
  margin-top: -4.5rem;
}

.tabs-ventas .nav-pills .nav-item {
  margin-right: 5px;
}
.tabs-ventas .nav-pills .nav-item:last-child {
  margin-right: 0;
}
.tabs-ventas .nav-pills a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 120px;
  margin-right: 5px;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  background-color: #f9f8fd;
  color: var(--color-titulo);
}
.tabs-ventas .icon {
  height: 48px;
  width: 48px;
  background-color: var(--fondo-gris);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.tabs-ventas .nav-pills a .mat-icon {
  transform: scale(1.2);
  color: #6328fb;
}

.tabs-ventas .nav-pills a.active {
  background-color: #6328fb;
  color: #fff;
}

.tabs-ventas .nav-pills a.active .icon {
  background-color: #fff;
}
.tabs-ventas .nav-pills a.active .mat-icon {
  color: #6328fb;
}

.total-listado {
  padding: 1.5rem 0;
}

.total-listado .total {
  font-size: 1.8rem;
  font-weight: 300;
}
.total-listado .sub-text {
  color: #7c7c7c;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: -6px;
}

// FIN ESTRUCTURE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

// MATERIAL CHANGE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

.mat-dialog-container {
  position: relative;
}

.mat-dialog-container .dialog-actions {
  position: absolute;
  right: 20px;
  top: 20px;
}

.mat-icon {
  font-family: "Material Icons Round";
}

button.mat-stroked-button {
  background-color: #fff;
  min-width: 36px;
  padding: 5px 10px;
  line-height: 34px;
  // border: 1px solid currentColor;
  border: 1px solid #eae9ee;
  border-radius: 10px;
}

.mat-dialog-title {
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: var(--color-texto);
}

// FIN MATERIAL CHANGE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

// ANIMACIONES //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
main .wrapper {
  opacity: 0;
  animation: fadeInUp 0.2s ease-in-out 0s forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
// FIN ANIMACIONES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
