// Bootstrap config
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/transitions";

// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap");

// HTML STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

html,
body,
main {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato", "Roboto", "Helvetica Neue", sans-serif;
  // background-color: #f9f8ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gothic A1", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700; // Bold
  font-size: 2.5rem;
}

// FIN HTML STYLES //////////////////////////////////////////////////////////////////////////////////////////////////

// LOGIN/REGISTRO STYLES ////////////////////////////////////////////////////////////////////////////////////////////
.inicio-container {
  min-height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.inicio-container .inicio-img {
  flex: 2;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  height: inherit;
  padding-top: 3rem;
}

.inicio-container .inicio-titulo {
  flex: 1;
  text-align: center;
  color: #651fff;
}

.inicio-container .inicio-img .img {
  flex: auto;
  background-image: url("./assets/img/clip-web-design.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 60%;
}

.inicio-container .ingreso {
  background-color: #5b3def;
  color: #fff;
  padding: 3rem 2rem;
  min-height: 35%;
  border-radius: 3rem 3rem 0 0;
}
.inicio-container .ingreso p {
  text-align: justify;
}
.inicio-container .ingreso-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5rem;
}
.inicio-container .ingreso-actions button {
  flex: auto;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  font-weight: 800;
}
.inicio-container .ingreso-actions .login {
  // background-color: #e91e63;
  margin-right: 0.5rem;
}
.inicio-container .ingreso-actions .registro {
  background-color: #fff;
  color: #202020;
}
// FIN LOGIN/REGISTRO STYLES ////////////////////////////////////////////////////////////////////////////////////////////
.login-container {
  display: flex;
  flex-direction: column;
  background-color: #5b3def;
  color: #fff;
  min-height: 100vh;
}

.login-container .actions,
.login-container .desc,
.login-container .login-form {
  padding: 1rem 2rem;
}

.login-container .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.login-container .actions a {
  color: #fff;
}
.login-container .actions button {
  margin-left: -10px;
}

.login-container .desc {
  text-align: justify;
}

.login-container .login-form {
  flex: 1;
  padding-top: 3rem;
  background-color: #fff;
  // min-height: 35%;
  border-radius: 3rem 3rem 0 0;
  color: #171d2a;
}

.login-container .login-form .forgot-pass {
  text-align: right;
  text-decoration: none;
  margin-top: -10px;
  margin-bottom: 2rem;
}
.login-container .forgot-pass a {
  color: #202020;
}

.login-container .login-form button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 800;
  border-radius: 3rem;
}

.login-container .login-rrss .btn-rrss {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 3rem;
  padding: 1rem 2rem;
  // box-shadow: 0 0 5px #eee;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login-container .login-rrss .btn-rrss .texto {
  flex: 1;
  margin-left: 1rem;
}
.login-container .login-rrss .btn-rrss .icono {
  height: 24px;
}

// ESTRUCTURE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

.page-content {
  min-height: 100vh;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.page-header {
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.page-header.header-alt,
.page-header.header-alt-tabs {
  padding: 1.2rem;
  border-radius: 0 0 2.5rem 2.5rem;
}
.page-header.header-alt-tabs {
  align-items: flex-start;
  height: 245px;
  margin-bottom: -4.9rem;
}

.page-header .titulo small {
  font-size: 1.1rem;
  margin-top: -9px;
  display: block;
  font-weight: 600;
}

.page-header .btn-perfil {
  height: 48px;
  width: 48px;
}

.page-header .btn-perfil .img-perfil {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.page-header .btn-perfil .noImg {
  height: 48px;
  width: 48px;
  text-transform: uppercase;
  background-color: #4524a8;
  color: #fff;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  font-size: 1.4rem;
}

.secciones {
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 1rem 1.5rem;
  flex: 1;
}

.seccion {
  height: 64px;
  line-height: 64px;
  font-size: 1.2rem;
  font-weight: 500;
}

.seccion a {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.7;
}

.w-100 {
  width: 100%;
}

.navegacion {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 500;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 72px;
}

.navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
}

.navegacion .opcion-item a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  text-decoration: none;
  // border: 0.5px solid green;
}
.navegacion .opcion-item a > .mat-icon {
  transform: scale(1.5);
}

// .navegacion .opcion-item a.active { theme.scss
//   color: var(--color-primary);
// }
.navegacion .opcion-item a.active > .mat-icon {
  margin-top: -5px;
}
.navegacion .opcion-item a.active .mat-icon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 4px;
  height: 4px;
  z-index: 600;
  border-radius: 50%;
}

.boton-macro {
  border-radius: 2rem;
  padding: 1rem 1.2rem;
  margin: 1rem 1.2rem;
}

.boton-macro .boton-titulo {
  font-size: 1.2rem;
  font-weight: 700;
}

.boton-macro .boton-desc {
  font-size: 0.8rem;
}

.boton-macro button.mat-flat-button {
  height: 64px;
  width: 64px;
  border-radius: 20px;
}

.boton-macro button.mat-flat-button .mat-icon {
  transform: scale(1.3);
}

/*
  COMPONENTE DIALOG VENTA
*/

.venta-nocturna {
  position: relative;
  padding: 3px 12px;
  border-radius: 1rem 1rem 0 0;
  width: fit-content;
  font-size: 0.8rem;
  margin-left: auto;
  margin-bottom: -5px;
  margin-right: 3px;
}

/*
  COMPONENTE CONTADOR
*/
.contador {
  /* border: 1px solid red; */
  margin: 0 1rem;
}

.contador .contador-estado {
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.contador .contador-numero {
  font-size: 1.6rem;
  margin-top: -5px;
  margin-left: 3px;
}

.contador-desc {
  margin-top: -8px;
  font-size: 1rem;
}

/*
  COMPONENTE LISTA CLIENTE
*/
.cliente,
.producto,
.venta,
.card {
  border-radius: 1.5rem;
  padding: 1rem 0.8rem;
  margin-bottom: 1.1rem;
}

.cliente .cliente-icono,
.producto .producto-img,
.venta .venta-icono {
  height: 56px;
  width: 56px;
  min-width: 56px;
  margin-right: 0.8rem;
  border-radius: 50%;
}

.cliente .cliente-icono .mat-icon,
.venta .venta-icono .mat-icon {
  transform: scale(1.25);
}

.cliente .cliente-detalles .descripcion,
.producto .producto-detalles .descripcion,
.venta .venta-detalles .descripcion {
  font-weight: 700;
  margin-right: 5px;
  font-size: 1.1rem;
}

.cliente .cliente-detalles .sub-text,
.venta .venta-detalles .sub-text {
  font-weight: 600;
  font-size: 0.9rem;
}

.cliente .cliente-total {
  margin-left: auto;
  color: #1c0e5e;
  font-size: 24px;
}

.cliente .cliente-acciones {
  margin-left: auto;
}

/*
  COMPONENTE LISTA PRODUCTO
*/
.producto .producto-img {
  overflow: hidden;
}

.producto .producto-img img {
  height: 48px;
  width: 48px;
}

.producto .producto-detalles .stock {
  /* color: #adacb1; */
  font-weight: 600;
  font-size: 0.92rem;
  padding: 0 0.5rem;
  border-radius: 10px;
}

/*
  COMPONENTE LISTA VENTA
*/
.venta .venta-detalles .descripcion {
  /* calcula el ancho teniendo en cuenta el icono
  y el valor del total (con margenes) */
  max-width: calc(100% - (66px + 105px));
}

.venta .venta-detalles .descripcion p {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.venta .venta-detalles .sub-text {
  font-size: 0.72rem;
}

.venta .venta-total {
  text-align: right;
  margin-left: auto;
  font-size: 1.25rem;
  min-width: 100px;
  /* font-weight: 600; */
}

.venta .venta-total .sub-text {
  margin-top: -3px;
  font-size: 0.9rem;
}

/*
  COMPONENTE TAB VENTAS
*/
.tabs-ventas {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 600;
  margin-top: -4.5rem;
}

.tabs-ventas .nav-pills .nav-item {
  margin-right: 5px;
}
.tabs-ventas .nav-pills .nav-item:last-child {
  margin-right: 0;
}
.tabs-ventas .nav-pills a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 120px;
  margin-right: 5px;
  border-radius: 1.5rem;
  font-size: 0.8rem;
}
.tabs-ventas .icon {
  height: 48px;
  width: 48px;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.tabs-ventas .nav-pills a .mat-icon {
  transform: scale(1.2);
}

// .tabs-ventas .nav-pills a.active {
//   background-color: #6328fb;
//   color: #fff;
// }

// .tabs-ventas .nav-pills a.active .icon {
//   background-color: #fff;
// }
// .tabs-ventas .nav-pills a.active .mat-icon {
//   color: #6328fb;
// }

.total-listado {
  margin-top: 3rem;
}

.total-listado .total {
  font-size: 1.8rem;
  font-weight: 300;
}
.total-listado .sub-text {
  color: #7c7c7c;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: -6px;
}

// FIN ESTRUCTURE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

// MATERIAL CHANGE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////
.mat-snack-bar-handset .mat-snack-bar-container {
  margin-bottom: 85px !important;
  border-radius: 3rem;
  padding: 1.2rem 2rem;
  font-weight: 600 !important;
}

.mat-focus-indicator:focus {
  outline: none;
}

.mat-dialog-container {
  position: relative;
}

.mat-dialog-container .dialog-actions {
  position: absolute;
  right: 20px;
  top: 20px;
}

// .mat-form-field-suffix .mat-icon {
//   color: var(--color-iconos);
// }

.mat-icon {
  font-family: "Material Icons Round";
}

button.mat-button,
button.mat-flat-button,
button.mat-stroked-button {
  border-radius: 15px;
  line-height: 40px;
  padding: 0 20px;
  font-weight: 700;
}
body .mat-dialog-container {
  border-radius: 2.5rem;
  padding: 1.5rem;
}

.mat-dialog-title {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

// FIN MATERIAL CHANGE STYLES ///////////////////////////////////////////////////////////////////////////////////////////////////

// ANIMACIONES //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.wrapper,
.fadeInUp {
  opacity: 0;
  animation: fadeInUp 0.2s ease-in-out 0s forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
// FIN ANIMACIONES ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
